* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 16%, 14%);
    background-image: url(images/bg-stars.svg);
    background-position: center;
    background-size: cover;
    position: relative;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: auto;
}

.container h1 {
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}

.countdown {
    display: flex;
}

.countdown h2 {
    color: hsl(345, 95%, 68%);
    padding: 15px;
    background-color: hsl(236, 21%, 26%);
    margin: 0px 10px;
    font-size: 35px;
    border-radius: 5px;
}

.countdown p {
    color: hsl(237, 18%, 59%);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}

.social-media {
    position: absolute;
    bottom: 50px;
}

.social-media i {
    color: white;
    font-size: 30px;
    margin: 0px 15px;
    color: hsl(237, 18%, 59%);
    cursor: pointer;
    transition: .5s;
}

.social-media i:hover {
    color: hsl(345, 95%, 68%);
    transform: scale(1.2);
}

@media screen and (min-width:700px) {
    .container h1 {
        color: white;
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 100px;
    }
    .countdown h2 {
        color: hsl(345, 95%, 68%);
        padding: 15px;
        background-color: hsl(236, 21%, 26%);
        margin: 0px 15px;
        font-size: 70px;
        border-radius: 5px;
    }
    .countdown p {
        color: hsl(237, 18%, 59%);
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
        text-transform: uppercase;
    }
}

@media screen and (min-width:1024px) {
    .countdown h2 {
        color: hsl(345, 95%, 68%);
        padding: 15px;
        background-color: hsl(236, 21%, 26%);
        margin: 0px 20px;
        font-size: 80px;
        border-radius: 5px;
    }
    .social-media i {
        color: white;
        font-size: 20px;
        margin: 0px 15px;
        color: hsl(237, 18%, 59%);
        cursor: pointer;
        transition: .5s;
    }
}